extends layout

block content
  .wrap
    .container-fluid
        h1 Welcome to Ike's Chatroom Application 
          button(disabled="disabled")#login-btn.btn.btn-primary.pull-right Login
        p Backend built on Nodejs - Express, Socket-io, and Mongodb. 
        p Frontend UI built with HTML, CSS, Jade, Bootstrap and JQUERY.
        p Web App Pending Baby's Approval..
        br
        #messages

        .push
  .footer
    .container-fluid
      .row
        .col-xs-8.col-sm-9
          input(type="text" id="message-box" class="form-control input-lg" placeholder="Dunjazz write a username here and click login..." rows="3")
        .col-xs-4.col-sm-3
          button(disabled="disabled")#send-message-btn.btn.btn-primary.btn-lg.btn-block Send That Thang!

block body_end