html,
body {
  height: 100%;
  background-color: #292929;
}
h1 {
  left: 1%;
  background-color: 292929;
  border: solid 6px 292929;
  font-family: amaranth;
  color: #fff;
}
#container2 {
  left: 1%;
  background-color: 292929;
  border: solid 6px 292929;
  font-family: amaranth;
  color: #fff;
}
.pull-right {
  position: fixed;
  right: 2%;
}
#container img {
  max-width: 275px;
  max-height: 183px;
}
#container video {
  max-width: 275px;
  max-height: 183px;
}
#messages {
  font-size: medium;
  color: #00b2ee;
  font-family: amaranth;
}
.uploader {
  height: 0px;
  overflow: hidden;
}
.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}
.push,
.footer {
  height: 60px;
}
.footer {
  background-color: #292929;
}
