html, body
  height: 100%

h1
  position: fixed
  background-color: white
  border: solid 6px white

#container2 
  position: fixed
  margin-top: 70px
  background-color: white
  border: solid 6px white

.pull-right
  position: absolute
  right: -550px

#container
  margin-top: 150px

#container img
  max-width: 275px
  max-height: 183px
  display: block

#container video
  max-width: 275px
  max-height: 183px
  display: block

#messages
  color: blue
  font-family: Helvetica
  font-style: bold

.uploader
  height:0px
  overflow:hidden

.wrap 
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -60px
 
.push, .footer 
  height: 60px
 
.footer
  background-color: #f5f5f5