html,
body {
  height: 100%;
}
h1 {
  left: 1%;
  background-color: #fff;
  border: solid 6px #fff;
}
#container2 {
  left: 1%;
  background-color: #fff;
  border: solid 6px #fff;
}
.pull-right {
  position: fixed;
  right: 2%;
}
#container img {
  max-width: 275px;
  max-height: 183px;
}
#container video {
  max-width: 275px;
  max-height: 183px;
}
#messages {
  color: #00f;
  font-family: Helvetica;
  font-style: bold;
}
.uploader {
  height: 0px;
  overflow: hidden;
}
.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}
.push,
.footer {
  height: 60px;
}
.footer {
  background-color: #f5f5f5;
}
